.d-flex .a1{
    text-decoration: none;
    color: gray;
}
.d-flex .a1 img{
    margin-bottom: 3px;
}
.d-flex span .a1 {
    margin-right: 30px;
}
.d-flex span .a2{
    background-color: #F0E3E7;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(219, 96, 96);
    margin-right: 20px;
}
.d-flex span .a2 img{
    margin-right: 10px;
    margin-bottom: 8px;
}
.hr{
    display: block;
    height: 4px;
    background-color: #DC392D;
}
main{
    max-height: 88vh;
    overflow: auto;
}
